<div class="platform">
  <div class="platform__header">
    <h2 class="platform__title">
      Libertex™ is a platform designed for you
    </h2>
    <p class="platform__subtitle">For Beginners and Professionals</p>
  </div>
  <div class="platform__cards">
    <article class="card">
      <div class="card__media">
        <figure class="semantic-only">
          <img src="img/video_1.gif" alt="brand animation with trading process" />
          <figcaption class="sr-only">
            Short animation movie. Product app example.
          </figcaption>
        </figure>
        <div class="card-face-image"></div>
      </div>
      <div class="card__content">
        <h3 class="card__header">Award-Winning Platform</h3>
        <p class="card__text">
          The platform combines good trading conditions, fast order
          execution speeds, a user-friendly interface, and online
          support.
        </p>
      </div>
    </article>
    <article class="card card--reverse">
      <div class="card__media">
        <figure class="semantic-only">
          <img src="img/video_2.gif" alt="brand animation with app usage on trading" />
          <figcaption class="sr-only">
            Short animation movie. Product app example.
          </figcaption>
        </figure>
        <div class="card-face-image card-face-image--education"></div>
      </div>
      <div class="card__content">
        <h3 class="card__header">Trader Education Centre</h3>
        <p class="card__text">
          Learn the skills you need to open, modify and close trades,
          as well as trading strategies and the basic features of our
          platform.
        </p>
      </div>
    </article>
    <article class="card">
      <div class="card__media">
        <figure class="semantic-only">
          <img src="img/video_3.gif"
               alt="brand animation shows app risk management tools"/>
          <figcaption class="sr-only">
            Short animation movie. Product app example.
          </figcaption>
        </figure>
        <div class="card-face-image card-face-image--protection"></div>
      </div>
      <div class="card__content">
        <h3 class="card__header">
          Risk-Protection & Management Tools
        </h3>
        <p class="card__text">
          Use our risk management tools to hedge and plan your trades
          for market changes.
        </p>
      </div>
    </article>
  </div>
  <div class="platform__action">
    <a href="/" class="link-button link-button--platform">
      <span>JOIN LIBERTEX™</span>
    </a>
    <p class="button-description">
      77.77% of retail investor accounts lose money
    </p>
  </div>
</div>
