<div class="intro">
  <div class="intro__info">
    <h1 class="intro-header">
      <mark class="intro-header__accent">CFD Trading</mark>
      <br />
      For All Traders
    </h1>
    <p class="intro-description">Discover everything you need to trade in one place.</p>
    <div class="intro-sign-up">
      <a href="{{ home_url }}" class="intro-sign-up__button link-button"><span>Get started</span>
      </a>
      <p class="intro-sign-up__info button-description">77.77% of retail investor accounts lose money</p>
      <a href="{{ home_url }}" class="intro-login link-button-text"><span>I already have an account</span>
      </a>
    </div>
  </div>
  <div class="intro__img">
    <div class="intro-img">
      <div class="intro-img__back">
        <img src="img/dev-back.png"
             alt="product modal with take profit and stop loss on phone device"
             class="img-responsive-h img-lg"/>
        <img src="img/dev-back_xs.png"
             alt="product modal with take profit and stop loss on phone device"
             class="img-responsive-h img-xs"/>
      </div>
      <div class="intro-img__modal">
        <img src="img/modal.png"
             alt="product modal with take profit and stop loss zoomed up"
             class=" img-responsive-w img-lg"/>
        <img src="img/modal_xs.png"
             alt="product modal with take profit and stop loss zoomed up"
             class=" img-responsive-w img-xs"/>
      </div>
      <div class="intro-img__front">
        <img src="img/dev-front.png"
             alt="product app on phone device"
             class="img-responsive-w img-lg"/>
        <img src="img/dev-front_xs.png"
             alt="product app on phone device"
             class="img-responsive-w img-xs"/>
      </div>
    </div>
  </div>
</div>
