<div class="get-started">
  <h2 class="get-started__title">
    Get started in 3 steps with Libertex™
  </h2>
  <div class="get-started__steps">
    <div class="diagram-steps">
      <figure class="step-round-icon semantic-only">
        <svg class="step-round-icon">
          <use href="img/icons.svg#icon-reg"></use>
        </svg>
        <figcaption class="sr-only">
          Step One
        </figcaption>
      </figure>
      <nav aria-label="Step Navigation" class="step-arrow step-arrow--small">
        <svg class="step-arrow__column-small">
          <use href="/img/icons.svg#arow-down-small"></use>
        </svg>
        <svg class="step-arrow__row">
          <use href="/img/icons.svg#arrow-right"></use>
        </svg>
      </nav>
      <figure class="step-round-icon semantic-only">
        <svg class="step-round-icon">
          <use href="img/icons.svg#icon-fund"></use>
        </svg>
        <figcaption class="sr-only">
          Step Two
        </figcaption>
      </figure>
      <nav aria-label="Step Navigation" class="step-arrow">
        <svg class="step-arrow__column">
          <use href="/img/icons.svg#arrow-down-large"></use>
        </svg>
        <svg class="step-arrow__row">
          <use href="/img/icons.svg#arrow-right"></use>
        </svg>
      </nav>
      <figure class="step-round-icon semantic-only">
        <svg class="step-round-icon">
          <use href="img/icons.svg#icon-rocket"></use>
        </svg>
        <figcaption class="sr-only">
          Step Three
        </figcaption>
      </figure>
    </div>
    <article class="steps-info">
      <h3 class="steps-info__title">
        1. Register here
      </h3>
      <p class="steps-info__text">
        Register with your Name & Email here
      </p>
    </article>
    <article class="steps-info">
      <h3 class="steps-info__title">
        2. Fund your Account
      </h3>
      <p class="steps-info__text">
        Click on "Deposit" within our platform. Select a payment
        method and determine the deposit amount
      </p>
    </article>
    <article class="steps-info">
      <h3 class="steps-info__title">
        3. Verify Yourself
      </h3>
      <p class="steps-info__text">
        Verify yourself & Start Trading
      </p>
    </article>
  </div>
</div>
