<header class="header">
  <div class="header__content">
    <div class="header__box">
      <a href="{{ home_url }}" class="header__link" aria-label="Home">
        <svg class="logo">
          <use href="img/icons.svg#logo"></use>
        </svg>
        <svg class="logo--full">
          <use href="img/icons.svg#logo-full"></use>
        </svg>
        <span class="sr-only">Logo link to home</span>
      </a>
      <svg class="divider">
        <use href="img/icons.svg#divider"></use>
      </svg>
      <svg class="bayern">
        <use href="img/icons.svg#bayern"></use>
      </svg>
    </div>
    <p class="header__hashtag">
      #TradeForMore
    </p>
    <div class="header__action header-action">
      <a href="{{ home_url }}"
         class="link-button link-button--header">
        <span>Start Now</span>
      </a>
      <p class="button-description button-description--header">
        77.77% of retail investor accounts lose money
      </p>
    </div>
  </div>
</header>
