<div>
  <div class="block block--intro">
    <div class="intro-bg-overlay"></div>
    <div class="block__content">{% include "block-intro.njk" %}</div>
  </div>
  <section class="block block--get-started">
    <div class="block__content block__content--get-started">{% include "block-get-started.njk" %}</div>
  </section>
  <section class="block block--platform">
    <div class="block__content block__content--platform">{% include "block-platform.njk" %}</div>
  </section>
  <section class="block">
    <div class="block__content">{% include "block-faq.njk" %}</div>
  </section>
</div>
