{% set title = global.title %}

<!doctype html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta description="Libertex test" />
    <title>{{ title }}</title>
    <link rel="preload" ref="/fonts/Mont/mont-regular.ttf" crossorigin as="font" type="font/woff2"/>
    <link rel="preload" ref="/fonts/Mont/mont-bold.ttf" crossorigin as="font" type="font/woff2"/>
    <link rel="preload" ref="/fonts/Mont/mont-semibold.ttf" crossorigin as="font" type="font/woff2"/>
    <link rel="stylesheet" href="styles/index.css" />
  </head>

  <body class="page__body">

  {% include "header.njk" %}

  {{ content | safe }}

  </body>
</html>
